.QCHeader {
  margin: 0;
  color: navy;  /* #FFB800 */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  }

#Toolbar {
  width: 95%;
  height: 1em;
  padding: 10px 5px;
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  background-color: navy;
  }

#Toolbar ul {
  height: 0.5em;
  }

#Toolbar li {
  float: left;
  width: 10em;
  height: 1.5em;
  padding: 0 20px;
  list-style: none;
  background-color: navy;
  color: yellow;
  }

#Toolbar li ul {
  position: absolute;
  width: 10em;
  padding: 0;
  left: -999em;
  }

#Toolbar li:hover ul {
  left: auto;
  }

#Toolbar a {
  display: block;
  margin: 0;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  color: white;
  }

#Toolbar a:hover {
  font-weight: bold;
  color: grey;
  }

.FooterImage {
  position: absolute;
  left: 20px;
  }

.FooterText {
  padding-right: 20px;
  font-size: 11px;
  }

div.BrowserTest {
  width: 40%;
  margin: 0 auto;
  padding: 3px;
  border: 3px solid black;
  text-align: center;
  background-color: red;
  }

div.Footer {
  width: 98%;
  padding: 5px;
  margin: 30px auto 0 auto;
  border-top: 3px solid #1729B0;
  text-align: center;
  color: navy;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  }

.Contact {
  margin-top: 20px;
  width: 98%;
  padding: 5px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #1729B0;
  color: navy;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  }

.Contact a {
  text-decoration: none;
  color: navy;
  }

.QCFirst {
  font-size: 42px;
  font-weight: bold;
  }

.qchemF {
  border: 1px solid black;
  background: #eee;
  width: 15em;
  padding: 2px;
  font-size: 11px;
  font-family: Helvetica,Arial,sans-serif;
  }

.qchemC {
  border: 1px solid black;
  background: #eee;
  width: 40em;
  padding: 2px;
  font-size: 11px;
  font-family: Helvetica,Arial,sans-serif;
  }

.qchemQ {
  border: 1px solid black;
  background: #eee;
  width: 3em;
  padding: 2px;
  font-size: 11px;
  font-family: Helvetica,Arial,sans-serif;
  }

.radio {
  font-size: 11px;
  font-family: Helvetica,Arial,sans-serif;
  background: #fff;
  }

textarea {
  resize:both;  /* none|horizontal|vertical|both */
  }

br {
  clear: left;
  }

P.clear {
  clear: both;
  float: none;
  height: 1px;
  }

P.indent {
  text-indent: 3em;
  }

div.viewDiv {
  visibility: visible;
  display: inline;
  }

div.drawDiv {
  visibility: visible;
  display: none;
  }

.drawWin {
  width: 510px;
  clear: both;
  float: left;
  }

div.paramDiv {
  visibility: visible;
  /* display: inline; */
  display: none;
  }

div.submitDiv {
  visibility: visible;
  display: none;
  }

div.dirDiv {
  visibility: visible;
  display: none;
  clear: both;
  width: 400px;
  line-height: 14px;
  margin-left: 50px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  }

div.delDiv {
  visibility: visible;
  display: none;
  clear: both;
  width: 400px;
  line-height: 14px;
  margin-left: 50px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  }

P.entry {
  width: 400px;
  margin: 0px 25px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica,Arial,sans-serif;
  background-color: rgb(223, 223, 223);
  color: black;
  }

div.entry {
  width: 400px;
  margin: 0px 25px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica,Arial,sans-serif;
  background-color: rgb(255, 255, 191);
  color: black;
  }

div.DelEntry {
  float: left;
  margin: 0px 10px 0px 25px;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica,Arial,sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
  }

div.DirEntry {
  width: 374px;
  margin: 0px 51px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica,Arial,sans-serif;
  background-color: rgb(255, 255, 191);
  color: black;
  }

.User {
  width: 800px;
  text-align: left;
  visibility: visible;
  border-style: solid;
  border-width: 3px;
  border-color: rgb( 0, 0, 127);
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  }

label {
  display: block;
  width: 150px;
  float: left;
  margin: 4px;
  text-align: right;
  font-size: 12px;
  font-family: Times-Roman,Bookman,serif;
  font-weight: bold;
  color: navy;
  }

P.fleft {
  padding: 0px 40px 0px 0px;
  float: left;
  }

P.center {
  text-align: center;
  font-size: 16px;
  font-family: Times-Roman,Bookman,serif;
  font-weight: normal;
  font-variant: small-caps;
  padding: 0px;
  color: navy;
  }

P.center a {
  text-decoration: none;
  color: navy;
  }

td {
  text-align: center;
  }

.modeDraw  { background-color: silver; }
.modeView  { background-color: silver; }

.PeriodicTable {
  display: inline;
  }

.PeriodicTable table {
  empty-cells: hide; 
  /* border-collapse: collapse; */
  border-collapse: separate;
  background-color: LemonChiffon;
  }

.PeriodicTable td {
  text-align: center;
  width: 2em;
  font-size: 14px;
  }

.PeriodicTable td a {
  text-decoration: none;
  color: black;
  border: 0px;
  }

.MOff  { background-color: LemonChiffon; display: table-cell; color: LemonChiffon; }
.MOn   { background-color: LemonChiffon; display: table-cell; color: navy; }
.Row1  { background-color: LemonChiffon; display: none; }
.Row2  { background-color: LemonChiffon; display: none; }
.Row3  { background-color: LemonChiffon; display: none; }
.RowLa { background-color: LemonChiffon; display: none; }
.RowAc { background-color: LemonChiffon; display: none; }

.mH  { background-color: silver; }
.pHe { background-color: silver; display: none; }
.pLi { background-color: silver; display: none; }
.pBe { background-color: silver; display: none; }
.mB  { background-color: silver; }
.mC  { background-color: silver; }
.mN  { background-color: silver; }
.mO  { background-color: silver; }
.mF  { background-color: silver; }
.pNe { background-color: silver; display: none; }
.pNa { background-color: silver; display: none; }
.pMg { background-color: silver; display: none; }
.mAl { background-color: silver; }
.mSi { background-color: silver; }
.mP  { background-color: silver; }
.mS  { background-color: silver; }
.mCl { background-color: silver; }
.pAr { background-color: silver; display: none; }
.pK  { background-color: silver; display: none; }
.pCa { background-color: silver; display: none; }
.pSc { background-color: silver; display: none; }
.pTi { background-color: silver; display: none; }
.pV  { background-color: silver; display: none; }
.pCr { background-color: silver; display: none; }
.pMn { background-color: silver; display: none; }
.pFe { background-color: silver; display: none; }
.pCo { background-color: silver; display: none; }
.pNi { background-color: silver; display: none; }
.pCu { background-color: silver; display: none; }
.pZn { background-color: silver; display: none; }
.mGa { background-color: silver; }
.mGe { background-color: silver; }
.mAs { background-color: silver; }
.mSe { background-color: silver; }
.mBr { background-color: silver; }
.pKr { background-color: silver; display: none; }
.pRb { background-color: silver; display: none; }
.pSr { background-color: silver; display: none; }
.pY  { background-color: silver; display: none; }
.pZr { background-color: silver; display: none; }
.pNb { background-color: silver; display: none; }
.pMo { background-color: silver; display: none; }
.pTc { background-color: silver; display: none; }
.pRu { background-color: silver; display: none; }
.pRh { background-color: silver; display: none; }
.pPd { background-color: silver; display: none; }
.pAg { background-color: silver; display: none; }
.pCd { background-color: silver; display: none; }
.mIn { background-color: silver; }
.mSn { background-color: silver; }
.mSb { background-color: silver; }
.mTe { background-color: silver; }
.mI  { background-color: silver; }
.pXe { background-color: silver; display: none; }
.pCs { background-color: silver; display: none; }
.pBa { background-color: silver; display: none; }
.pLa { background-color: silver; display: none; }
.pHf { background-color: silver; display: none; }
.pTa { background-color: silver; display: none; }
.pW  { background-color: silver; display: none; }
.pRe { background-color: silver; display: none; }
.pOs { background-color: silver; display: none; }
.pIr { background-color: silver; display: none; }
.pPt { background-color: silver; display: none; }
.pAu { background-color: silver; display: none; }
.pHg { background-color: silver; display: none; }
.mTl { background-color: silver; }
.mPb { background-color: silver; }
.mBi { background-color: silver; }
.mPo { background-color: silver; }
.mAt { background-color: silver; }
.pRn { background-color: silver; display: none; }
.pFr { background-color: silver; display: none; }
.pRa { background-color: silver; display: none; }
.pAc { background-color: silver; display: none; }
.pRf { background-color: silver; display: none; }
.pDb { background-color: silver; display: none; }
.pSg { background-color: silver; display: none; }
.pBh { background-color: silver; display: none; }
.pHs { background-color: silver; display: none; }
.pMt { background-color: silver; display: none; }
.pDs { background-color: silver; display: none; }
.pRg { background-color: silver; display: none; }
.pCn { background-color: silver; display: none; }
.pUut{ background-color: silver; display: none; }
.pFl { background-color: silver; display: none; }
.pUup{ background-color: silver; display: none; }
.pLv { background-color: silver; display: none; }
.pUus{ background-color: silver; display: none; }
.pUuo{ background-color: silver; display: none; }
.pCe { background-color: silver; display: none; }
.pPr { background-color: silver; display: none; }
.pNd { background-color: silver; display: none; }
.pPm { background-color: silver; display: none; }
.pSm { background-color: silver; display: none; }
.pEu { background-color: silver; display: none; }
.pGd { background-color: silver; display: none; }
.pTb { background-color: silver; display: none; }
.pDy { background-color: silver; display: none; }
.pHo { background-color: silver; display: none; }
.pEr { background-color: silver; display: none; }
.pTm { background-color: silver; display: none; }
.pYb { background-color: silver; display: none; }
.pLu { background-color: silver; display: none; }
.pTh { background-color: silver; display: none; }
.pPa { background-color: silver; display: none; }
.pU  { background-color: silver; display: none; }
.pNp { background-color: silver; display: none; }
.pPu { background-color: silver; display: none; }
.pAm { background-color: silver; display: none; }
.pCm { background-color: silver; display: none; }
.pBk { background-color: silver; display: none; }
.pCf { background-color: silver; display: none; }
.pEs { background-color: silver; display: none; }
.pFm { background-color: silver; display: none; }
.pMd { background-color: silver; display: none; }
.pNo { background-color: silver; display: none; }
.pLr { background-color: silver; display: none; }

.tblH  { background-color: silver; }
.tblB  { background-color: silver; }
.tblC  { background-color: silver; }
.tblN  { background-color: silver; }
.tblO  { background-color: silver; }
.tblF  { background-color: silver; }
.tblAl { background-color: silver; }
.tblSi { background-color: silver; }
.tblP  { background-color: silver; }
.tblS  { background-color: silver; }
.tblCl { background-color: silver; }
.tblGa { background-color: silver; }
.tblGe { background-color: silver; }
.tblAs { background-color: silver; }
.tblSe { background-color: silver; }
.tblBr { background-color: silver; }
.tblIn { background-color: silver; }
.tblSn { background-color: silver; }
.tblSb { background-color: silver; }
.tblTe { background-color: silver; }
.tblI  { background-color: silver; }
.tblTl { background-color: silver; }
.tblPb { background-color: silver; }
.tblBi { background-color: silver; }
.tblPo { background-color: silver; }
.tblAt { background-color: silver; }

.cld1 { background-color: silver; }
.cld2 { background-color: silver; }
.cld3 { background-color: silver; }
.cld4 { background-color: silver; }

.delbtn    { background-color: silver; }
.delbond   { background-color: silver; }
.rotbond   { background-color: silver; }
.undo      { background-color: silver; }
.OptButton { background-color: silver; }

table.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

P.test {
  text-align: center;
  padding:0px 2px;
  margin:0px;
  width:300px;
  height:18px;
  font-size:12px;
  font-family:tahoma;
  border:1px solid #666666;
}

div.screenshot {
  padding:5px 5px;
  width: 210px;
  float: left;
  text-align: center;
  }

div.logo {
  padding: 0px 10px;
  float: left;
  text-align: center;
  }

